<div *ngIf="isLoadingResults">
    <mat-progress-bar mode="query" ></mat-progress-bar>
</div>

<div mat-dialog-content>
  <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
          <input matInput placeholder="请输入作者名字" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      </mat-form-field>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">password is required</div>
      </div>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>提交</button>
</div>
